<% layout('/layouts/boilerplate') %>
<div id="cluster-map"></div>
    <h1>All Campgrounds</h1>
        <% for (let campground of campgrounds){ %>
            <div class="card mb-3">
                <div class="row">
                    <div class="col-md-3">
                        <% if(campground.images.length){ %>
                        <img crossorigin="anonymous" class="img-fluid w-100" alt="" src="<%= campground.images[0].url %>">
                        <% } else{ %>
                            <img crossorigin="anonymous" class="img-fluid w-100" alt="" src="https://res.cloudinary.com/dhl4uk0d0/image/upload/v1711450237/cld-sample-2.jpg">
                        <% } %>

                    </div>
                    
                    <div class="col-md-9">
                        <div class="card-body">
                            <h5 class="card-body"><%= campground.title %></h5>
                            <p class="card-text"><%= campground.description %></p>
                            <p class="card-text">
                                <small class="text-muted"><%= campground.location %></small>
                            </p>
                            <a href="/campgrounds/<%=campground._id%>" class="btn btn-primary"> View <%= campground.title %></a>
                        </div>
                    </div>
                </div>
            </div>
        <% } %>
        <script>
            const mapToken = '<%- process.env.MAPBOX_TOKEN %>';
            const campgrounds = '{features: <%- JSON.stringify(campgrounds) %>}'
          </script>
        <!-- <script src="/dist/bundle.js"></script> -->
        <script src="/javascripts/clusterMap.js"></script>
    
       